 <%= form_for(talk) do |f| %>
    <div class="form-group">
      <label class="label-text">Your name:</label>
      <%= f.text_field :name, class: 'form-control form-styling' %>
      </div>
    <div class="form-group">
      <label class="label-text">The title of your topic:</label>
      <%= f.text_field :topic, class: 'form-control form-styling' %>
    </div>

    <div class="form-group">
      <label class="label-text">Choose a free date:</label>
      <%= f.text_field :date, class: 'form-control form-styling' %>
    </div>

    <p class="form-text">Talk starts at 19:00, unless you arrange a different time with the group</p>

    <div class="d-flex justify-content-center mt-5">
      <%= f.submit class: "btn btn-primary btn-lg button-rounded mt-4" %>
    </div>

    <p class="form-text mt-3">You can edit/delete your talk at any time!</p>
  <% end %>


