<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="sign-up-header d-flex justify-content-center">
        <h1>Sign up for your hat talk</h1>
      </div>

      <div class="hattalk-form">
        <%= render 'form', talk: @talk %>
      </div>
      <p class="form-text mt-3">You can edit/delete your talk at any time!</p>


      <div class="upcoming-talks mt-5 mb-3">

        <div class="pt-5 mt-5 pb-4">
          <h2>Upcoming talks:</h2>
        </div>

        <div>
          <% @talks.each do |talk| %>
          <% unless talk.date.past? %>
          <div>
            <li class="mb-2"><%= talk.date.strftime('%e-%-m-%Y')%><span class="p-2"></span><%= talk.topic %> by <%= talk.name%>
              <%= link_to edit_talk_url(talk) do %>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to talk_path(talk), method: :delete, data: { confirm: "Are you sure you want to delete '#{talk.topic}'?" } do %>
              <i class="fas fa-trash"></i>
              <% end %></li>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

        <div class="past-talks pt-4 mt-5">
          <div>
            <h2 class="pb-4">Past talks:</h2>
          </div>

          <div>
            <% @past_talks.each do |talk| %>
            <% if talk.date.past? %>
            <div>
              <li class="mb-2"><%= talk.date.strftime('%e-%-m-%Y')%><span class="p-2"></span><%= talk.topic %> by <%= talk.name%>
                <%= link_to talk_path(talk), method: :delete, data: { confirm: "Are you sure you want to delete '#{talk.topic}'?" } do %>
                <i class="fas fa-trash"></i></li>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>

            <div class="contact-info">
              <%= cl_image_tag("lisa_photo", class:'avatar-large center')%>
              <p class="mt-3">Made with ❤️ by Lisa </p>
            </div>
          </div>
        </div>
      </div>
